/* Rainbow Stylin' */

body {
background-color: grey;
}

#mainPanel {
background-color: #022B3B;
clear: both;
width: 900px;
height: 700px;
margin-left: auto;
margin-right: auto;
display: block;
}

#homeBanner {
margin-left: auto;
margin-right: auto;
display: block;
text-align: center;
}

#mainFooter {
margin-left: auto;
margin-right: auto;
display: block;
text-align: center;
width: 900px;
height: 20px;
background-color: black;
color: white;
}

#indexH1 {
color: #60BCE0;
text-align:center;
font-family: "Comic Sans MS", cursive, sans-serif;
}