/* Rainbow Stylin' */

body {
background-color: grey;
}

#homeBanner {
border: 1px solid black;
box-shadow: 10px 10px 5px #888888;
margin-left: auto;
margin-right: auto;
display: block;
text-align: center;
}

#homeMenu {
list-style: none;
text-align: center;
box-shadow: 3px 8px 5px #888888;
padding: 5px 5px 5px 5px;
border:1px solid #9f9f9f;
list-style-type: none;
overflow: hidden;
background-color: #CCCBC4;
text-decoration: none;
margin: 0;
}

#homeMenu li {
color:#888888;
float: left;
text-decoration: none;
list-style: none;
margin-right: 15px;
}

#homeMenu li a {
font:1.8em "Comic Sans MS", cursive, sans-serif;
color:#888888;
display: block;
text-decoration: none;
list-style: none;
}

